@import '../../common/generall';
.dropdown {
    position: relative;
    width: 100%; 
  }
  
  .selected-option {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .options {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
  
    .option {
      cursor: pointer;
      padding: 10px;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
  

