@import '../../../common/generall';
.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.footer__list {
	@include df-centr;
	gap: 1rem;
}
.footer__item {
	height: 1.5625rem;
}
.footer__icon {
	@include color;
	font-size: 1.5rem;
	@media (hover: hover) {
		&:hover {
			@include color-hover;
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover;
		}
	}
}
