@import '../../common/generall';

.button {
	display: block;
	font-size: 1rem;
	font-family: $ffbtn-text;
}

.style {
	@include btn-color;
	position: relative;
	padding: 1rem;
	border-radius: 1rem;
	max-width: 300px;
	@media (hover: hover) {
		&:hover {
			@include btn-color-hover;
		}
	}
	@media (hover: none) {
		&:active {
			@include btn-color-hover;
		}
	}
}
