@import '../../common/generall';
.menu {
	font-family: $ffbtn-text;
}
.menu__title {
	@include color;
}
.menu__links {
	@include df-centr;
	gap: 1.5rem;
	justify-content: space-between;
}
.menu__link span {
	display: block;
	@include color;
	font-size: 0.9rem;
	@media (hover: hover) {
		&:hover {
			@include color-hover;
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover;
		}
	}
}
