@import '../..//common/generall';
.bigMenu {
	@include color;
	@include df-centr;
	justify-content: space-around;
	font-family: $ffbtn-text;
	gap: 1rem;
}
.bigMenu__item {
	@include df-centr;
	cursor: pointer;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 1rem;
	font-weight: 600;
	@media (hover: hover) {
		&:hover {
			@include color-hover;
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover;
		}
	}
	p {
		@include color;
	}
}
.bigMenu__icon {
	@include color;
	margin-right: 0.3125rem;
	width: 4.75rem;
	height: 4.75rem;
	@media (hover: hover) {
		&:hover {
			@include color-hover;
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover;
		}
	}
}
