@import '../..//common/generall';
.bigMenu {
	@include color;
	@include df-centr;
	justify-content: space-around;
	font-family: $ffMontserrat;
	gap: 1rem;
}
.bigMenu__item {
	@include df-centr;
	cursor: pointer;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 1rem;
	font-weight: 600;
	@media (hover: hover) {
		&:hover {
			@include color-hover;
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover;
		}
	}
}
.bigMenu__icon {
	@include color;
	margin-right: 5px;
	width: 76px;
	height: 76px;
	@media (hover: hover) {
		&:hover {
			@include color-hover;
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover;
		}
	}
}
