// В файле Main.module.scss
// Main.module.scss

.aboutSection {
	padding: 1.25rem 0;
}

.newsSection {
	padding: 1.25rem;
	box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.5);
}
.main__container {
	margin: 1.25rem auto;
}
