@import '../../../common/generall';
.Login {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	div {
		@include df-centr;
		flex-direction: column;
		margin-bottom: 10px;
		text-align: center;
		input {
			padding: 5px;
			border-radius: 4px;
			border: 1px solid #ccc;
		}
	}
	.label {
		display: block;
		margin-right: 10px;
		width: 100px;
	}
	.error {
		color: red;
		font-size: 12px;
	}
}
.btn {
	align-self: center;
	display: block;
	padding: 10px 20px;
	border-radius: 4px;
	border: none;
	@include bg-color;
	cursor: pointer;

	&:hover {
		@include bg-color-third;
	}
}
