@import '../../../../common/generall';
.burger {
	display: none;
	@media (max-width: 1151.98px) {
		display: block;
	}
}
.burger__btn {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 4;
	inset: 0;
	opacity: 1; /* Исходная прозрачность */
	transition: opacity 0.3s ease; /* Плавное затухание */
}
.burger__content {
	@include bg-color-third;
	position: absolute;
	z-index: 5;
	top: 0;
	right: 0;
	height: 100%;
	padding: 1rem;
	transition: right 0.3s ease; /* Плавное появление */

	width: 20%;
	@media (max-width: 767.98px) {
		width: 50%;
	}
	@media (max-width: 539.98px) {
		width: 100%;
	}
}
.header__burger.hide {
	opacity: 0;
}

.header__burger_content.show {
	right: 0; /* Появление справа */
}
