@import '../../../common/generall';
.advantages {
	position: relative;
	z-index: 2;
	@include color;
	font-weight: 700;
	padding-bottom: 1rem;
}
.advantages__wrapper {
	position: relative;
	background-image: url('../../../../public/img/stariy_tehn_kum.png');
	background-size: cover;
	transition: filter 0.3s ease;
	background-position: center;
}
.advantages__title {
	@include df-centr;
	font-size: 2.2rem;
	margin-bottom: 6rem;
	h2 {
		flex: 0 0 30%;
		width: 100%;
		font-weight: 700;
	}
}
.advantages__list {
	display: grid;
	grid-template-columns: repeat(3, 33.333%);
	grid-template-rows: repeat(2, 1fr);
	gap: 2rem;

	@media (max-width: 767.98px) {
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(3, 1fr);
		gap: 1rem;
	}
	@media (max-width: 539.98px) {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}
}
.advantages__li {
	@include df-centr;
	gap: 2rem;
}
.advantages__li_img {
	@include df-centr;
	font-size: 4rem;
	flex: 0 0 auto;
	width: 4.25rem;
	height: 4.25rem;
	border-radius: 50%;
}
.advantages__li_text {
	font-weight: 600;
	font-size: 1.5rem;
	width: 300px;
}
.advantages__block {
}
.advantages__block_content {
	font-size: 1.2rem;
	@include color-second;
	padding: 2rem 1rem 2rem 0;
}
.advantages__block_btn {
	position: relative;
	padding: 2rem 2rem;
	z-index: 3;
	@include bg-color;
	img {
		width: 2.5rem;
		height: 2.5rem;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 18rem;
		bottom: 0;
		z-index: 1;
		width: 800px;
		@include bg-color;
	}
}
.advantages__block_btn_text {
	gap: 1rem;
}
.advantages__block_color {
	background-color: var(--hr-color);
}
