@import '../../../common/generall';
.header {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	font-family: $ffbtn-text;
}
.header__block {
	display: flex;
	gap: 1rem;
}
.link__style {
	@include color;
	@media (hover: hover) {
		&:hover {
			@include color-hover;
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover;
		}
	}
}
.header__btn {
	background-color: rgba(0, 0, 0, 0);
}
.header__theme {
	@include color;
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	@media (max-width: 959.98px) {
		display: none;
	}
	@media (hover: hover) {
		&:hover {
			@include color-hover;
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover;
		}
	}
}
