@import '../../../common/generall';

.demo-block {
	display: flex;
	flex-direction: column;
	height: 100%;
	&__icon {
		margin-right: 0.5rem;
	}
}

.demo-block__main-content {
	display: flex;
	gap: 2rem;
}
.demo-block__title {
	font-size: 1.3rem;
	text-align: center;
	width: 100%;
	margin-bottom: 1rem;
	font-weight: 700;
}

.demo-block__text-content {
	flex: 3;
}

.demo-block__navigation {
	flex: 1;
	height: 100%;
	padding: 1rem;
	border: 0.0625rem solid var(--hr-color);
}

.demo-block__nav-item {
	// @include bg-color;
	@include color-second;
	position: relative;
	margin-bottom: 0.3rem;
	padding-left: 0.8rem;
	@media (hover: hover) {
		&:hover {
			@include color-hover-second;
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover-second;
		}
	}
	&:hover:before {
		@include color-hover-second;
	}
	&:before {
		content: '◦';
		@include color-second;
		display: block;
		position: absolute;
		top: 0;
		width: 5px;
		height: 5px;
		left: 0rem;
	}
}

.demo-block__icon {
	font-size: 1.5rem;
}
.demo-block__links {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.demo-block__nav-item,
.demo-block__link {
	@include df-centr;
	justify-content: flex-start;
}

.demo-block__link {
	@include btn-color;
	padding: 1rem;
	margin-bottom: 0.5rem;
	border-radius: 1rem;
	width: 250px;
	@media (hover: hover) {
		&:hover {
			@include btn-color-hover;
		}
	}
	@media (hover: none) {
		&:active {
			@include btn-color-hover;
		}
	}
}
.demo-block__link-text {
	@include df-centr;
}
