@import '../../../common/generall';
.subMenu {
	@include df-centr;
	gap: 1.5rem;
	justify-content: space-between;
}
.subMenu__logo {
	@include df-centr;
	gap: 1rem;
}
.subMenu__logo_img {
	width: 6.25rem;
	height: 6.25rem;
}
.subMenu__logo_text {
	@include color-second;
	font-family: $ffbtn-text;
	text-transform: uppercase;
	font-size: 2.5rem;
	font-weight: 700;
}
.link__style {
	gap: 3rem;
}
.links__style {
	@include color-second;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.1rem;
	@media (hover: hover) {
		&:hover {
			@include color-hover-second;
			transform: scale(1.1);
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover-second;
		}
	}
}
