@import '../../../common/generall';

.subMenuWrapper {
	width: 100%;
	transition: transform 0.3s ease-in-out, background-color 0.3s ease;
	box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.5);
}

.subMenuWrapper.fixed {
	@include bg-color-second;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.subMenu {
	@include df-centr;
	gap: 1.5rem;
	justify-content: space-between;
}

.link__style {
	gap: 3rem;
}

.links__style {
	@include color-second;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.1rem;
	@media (hover: hover) {
		&:hover {
			@include color-hover-second;
			transform: scale(1.2);
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover-second;
		}
	}
}
