@import '../../../../common/generall';

.burgerContent {
	overflow: hidden;
	@include bg-color-second;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition: all 0.1s linear;
	@include df-centr;
	&.active {
		transition: all 0.1s linear;
		opacity: 1;
		pointer-events: all;
	}
}
.burgerContent__block {
	position: absolute;
	// right: 0;
	top: 0;
}
.burgerContent__block_row {
	display: flex;
	justify-content: space-between;
	padding-right: 0.9rem;
	padding-top: 1.3rem;
	gap: 5rem;
}
