@import '../../common/generall';
.dropdown {
	position: relative;
	display: block;
	margin-bottom: 0.5rem;
}

.dropdownToggle {
	@include bg-color;
	padding: 10px;
	border: none;
	border-radius: 0.5rem;
	color: white;
	cursor: pointer;
}

.dropdownMenu {
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdownItem {
	display: block;
	padding: 0.75rem 1rem;
	text-decoration: none;
}

.dropdownLink {
	text-decoration: none;
	@include color-second;

	@media (hover: hover) {
		&:hover {
			@include color-hover-second;
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover-second;
		}
	}
}
