.dropdown {
	position: relative;
	display: inline-block;
}

.dropdownToggle {
	padding: 10px;
	border: none;
	border-radius: 0.5rem;
	background-color: #007bff;
	color: white;
	cursor: pointer;
}

.dropdownMenu {
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdownItem {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	color: black;

	&:hover {
		background-color: #f1f1f1;
	}
}

.dropdownLink {
	text-decoration: none;
	color: black;

	&:hover {
		color: blue;
	}
}
