@import '../../common/generall';
.header {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.link__style {
	@include color;
	padding-bottom: 0.125rem;
	@media (hover: hover) {
		&:hover {
			@include color-hover;
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover;
		}
	}
}
