@import '../../../common/generall';
p {
	text-indent: 2em;
	margin-top: 0;
}
.demo-block {
	font-family: $ffRoboto;
	display: flex;
	flex-direction: column;
	height: 100%;
	&__icon {
		margin-right: 0.5rem;
	}
}

.demo-block__main-content {
	display: flex;
	gap: 2rem;
}
.demo-block__title {
	font-size: 1.3rem;
	text-align: center;
	width: 100%;
	margin-bottom: 1rem;
	font-weight: 700;
}

.demo-block__text-content {
	flex: 3;
}
.demo-block__text-content-text {
	text-align: justify;
	line-height: 1.7;
}
.demo-block__navigation {
	flex: 1;
	height: 100%;
	padding: 1rem;
	border: 0.0625rem solid var(--hr-color);
}

.demo-block__nav-item {
	// @include bg-color;
	@include color-second;
	position: relative;
	margin-bottom: 0.5rem;
	padding-left: 0.8rem;
	@media (hover: hover) {
		&:hover {
			@include color-hover-second;
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover-second;
		}
	}
	&:hover:before {
		@include color-hover-second;
	}
	// &:before {
	// 	content: '◦';
	// 	@include color-second;
	// 	display: block;
	// 	position: absolute;
	// 	top: 0;
	// 	width: 5px;
	// 	height: 5px;
	// 	left: 0rem;
	// }
}

.demo-block__icon {
	font-size: 1.5rem;
}
.demo-block__links {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	grid-auto-rows: auto;
	gap: 1rem;
	// @media (max-width: 1151.98px) {

	// }
	// @media (max-width: 959.98px) {

	// }
	// @media (max-width:767.98px) {

	// }
	// @media (max-width:539.98px) {

	// }
	// @media (max-width:400.98px) {

	// }
}

.demo-block__nav-item,
.demo-block__link {
	@include df-centr;
	// font-size: 1.3rem;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
}

.demo-block__link {
	@include df-centr;
	@include btn-color;
	padding: 0.5rem;
	min-height: 80px;
	margin-bottom: 0.5rem;
	border-radius: 1rem;
	@media (hover: hover) {
		&:hover {
			@include btn-color-hover;
		}
	}
	@media (hover: none) {
		&:active {
			@include btn-color-hover;
		}
	}
}
.demo-block__link-text {
	@include df-centr;
	text-align: center;
	font-size: 1rem;
}
