@import '../../common/generall';
.newsSlider {
	position: relative;
	.slick-slider {
		border: none;

		.slick-slide {
			transition: transform 0.3s ease-out, opacity 0.3s ease-out;
			opacity: 0.6;

			&.slick-center {
				transform: scale(1.25);
				opacity: 1;
			}
		}
	}
	a {
		padding: 1rem;
	}
	.newsSlider__slide {
		@include bg-color-second;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 1.5rem;
			transition: transform 0.3s ease-out;
		}

		h3 {
			padding: 0.3rem 0;
		}

		p {
			font-size: 0.8rem;
		}
	}
	.newsSlider__arrow {
		display: block;
		position: absolute;
		width: 100%;
	}

	.arrows__left {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: -4.5rem;
		transform: translate(0, -50%);
	}

	.arrows__right {
		position: absolute;
		z-index: 2;
		top: 50%;
		right: -4.5rem;
		transform: translate(0, -50%);
	}

	.arrowIcon {
		@include color-second;
		font-size: 3.8rem;
		cursor: pointer;
		@media (hover: hover) {
			&:hover {
				@include color-hover-second;
			}
		}
		@media (hover: none) {
			&:active {
				@include color-hover-second;
			}
		}
	}
}
