@import '../../../common/generall';
.input_container {
	position: relative;
	width: 100%;
}

.input_container label {
	display: block;
	padding: 0.375rem 0 0.375rem 0.375rem;
	@include color-second;
}

.input_container input {
	@include bg-color-second;
	width: 100%;
	padding: 0.75rem;
	border: 0.0625rem solid var(--hr-color);
	border-radius: 0.3125rem;
	font-size: 1.125rem;
	&:focus {
		border-color: #0056b3;
		outline: none;
	}
}
.error {
	padding-top: 0.375rem;
	padding-left: 0.375rem;
	font-size: 16px;
	color: #ff0000;
}
