@import '../../../common/generall';
.header {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	@media (max-width: 539.98px) {
		justify-content: flex-end;
	}
}
.header__block {
	display: flex;
	gap: 1rem;
}
.link__style {
	@include color;
	font-family: $fftext;
	font-weight: 600;
	@media (hover: hover) {
		&:hover {
			@include color-hover;
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover;
		}
	}
	@media (max-width: 1151.98px) {
		font-weight: 600;
	}
}
.header__links {
	display: flex;
	gap: 6rem;
	@media (max-width: 1151.98px) {
		gap: 1rem;
	}
	@media (max-width: 539.98px) {
		display: none;
	}
}
