@import '../../../common/generall';
.aboutCollege {
	height: 450px;
	gap: 0;
	@include bg-color;
}
.aboutCollege__img {
	height: 100%;
	width: 50%;
	object-fit: cover;
}
.aboutCollege__content {
	flex: 1 1 50%;
	height: 100%;
	@include bg-color;
	padding: 3rem 4rem;
}

// Стилизация скроллбара для .aboutCollege__text
.aboutCollege__text {
	height: 9.375rem;
	overflow-y: auto;
	font-size: 0.8rem;
	margin-bottom: 2rem;
}
.aboutCollege__title {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1rem;
}
.aboutCollege__h2 {
	font-size: 1.1rem;
	margin-bottom: 2rem;
}
.aboutCollege__btn {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
