@import '../../../common/generall';
.news {
	font-family: $fftext;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}
.news__title {
	@include color-second;
	width: 100%;
	text-align: center;
	font-family: $ffbtn-text;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 600;
}
