@import '../../common/generall';
.header__link {
	font-family: $ffbtn-text;
	font-size: 0.9rem;
	cursor: pointer;
	gap: 0.6rem;
	@include color;
	@media (hover: hover) {
		&:hover {
			@include color-hover-second;
		}
	}
	@media (hover: none) {
		&:active {
			@include color-hover-second;
		}
	}
	@media (max-width: 1151.98px) {
		font-size: 0.8rem;
	}
}
.header__icon {
	font-size: 1.1rem;
	@media (max-width: 1151.98px) {
		font-size: 0.8rem;
	}
}
