$ffNunito: 'Nunito', sans-serif;
$ffMontserrat: 'Montserrat', sans-serif;

#root {
	height: 100%;
	width: 100%;
}
// [data-theme='light']
html {
	--button-text-color: #1c407e;
	--button-text-color-hover: #64b5f6;
	--button-background-color: #ffffff;
	--button-background-color-hover: #e3f2fd;
	--button-border-color: #448aff;

	--background-color: #1c407e;
	--second-background-color: #ffffff;
	--third-background-color: #64b5f6;

	--text-color: #e3f2fd;
	--text-color-hover: #ffffff;
}
// html[data-theme='dark'] {
// 	--button-text-color: #ffffff;
// 	--button-text-color-hover: #e3f2fd;
// 	--button-background-color: #1c407e;
// 	--button-background-color-hover: #64b5f6;
// 	--button-border-color: #1c407e;

// 	--background-color: #e3f2fd;
// 	--second-background-color: #ffffff;

// 	--text-color: #333333;
// 	--text-color-hover: #444444;
// }
@mixin df-centr {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin color {
	color: var(--text-color);
	transition: all 200ms linear;
}
@mixin color-hover {
	color: var(--text-color-hover);
	transition: all 100ms linear;
	text-shadow: 0 0 50px white;
}
@mixin color-second {
	color: var(--button-text-color);
	transition: all 200ms linear;
}
@mixin color-hover-second {
	color: var(--button-text-color-hover);
	transition: all 200ms linear;
}

@mixin bg-color {
	background-color: var(--background-color);
	transition: background-color 200ms linear;
	@include color;
}
@mixin bg-color-second {
	background-color: var(--second-background-color);
	transition: background-color 200ms linear;
	@include color-second;
}
@mixin bg-color-third {
	background-color: var(--third-background-color);
	transition: background-color 200ms linear;
	@include color;
}

@mixin btn-color {
	color: var(--button-text-color);
	background-color: var(--button-background-color);
	border-color: var(--button-border-color);
	transition: all 0.3s ease;
}
@mixin btn-color-hover {
	color: var(--button-text-color-hover);
	background-color: var(--button-background-color-hover);
	border-color: var(--button-background-color-hover);
	transition: all 0.3s ease;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: $ffNunito;
	transition: background-color 200ms linear;
	overflow-x: hidden;
}

.header {
	@include bg-color;
}

.main {
	flex: 1 0 auto;
	@include bg-color-second;
}

.footer {
	@include bg-color;
}

.row {
	@include df-centr;
	justify-content: start;
	gap: 1rem;
}

// @media (max-width: 1151.98px) {

// }
// @media (max-width: 959.98px) {

// }
// @media (max-width:767.98px) {

// }
// @media (max-width:539.98px) {

// }
// @media (max-width:400.98px) {

// }
